*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



header{
    height: 1080px;
    background: linear-gradient(0deg, #00000000 25%, #d0d0d05a 75%),url('../img/background/flag.jpg') 0 0 no-repeat;
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

.menu{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.element_nav{
    margin: 54px 45px 0 0;
}

.element_nav a{
    font-family: 'Roboto Slab';
    text-decoration: none;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.03em;
    color: #424B54;
    cursor: pointer;
}

.element_nav a:hover{
    color: #000000;
}

.element_nav a::after{
    content: '';
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: #000;
}

.element_nav a::after{
    width: 0;
    transition: 0.3s;
}

.element_nav a:hover:after{
    width: 100%;
}

.header_bg h1{
    font-family: 'Roboto Slab';
    text-transform: uppercase;
    text-align: center;
    margin-top: 341px;
    font-size: 65px;
    color: #F4FFFD;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #755344;
}

.vertical{
    color: #F4FFFD;
    margin: 0 auto;
    width: 1000px;
}

.header_bg p{
    font-family: 'Roboto Slab';
    text-align: center;
    font-weight: 400;
    font-size: 55px;
    color: #F4FFFD;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #755344;
}

header button{
    font-family: 'Roboto Slab';
    display: block;
    margin: 0 auto;
    margin-top: 170px;
    cursor: pointer;
    border-radius: 4px;
    width: 400px;
    height: 80px;
    background-color: #424b5499;
    transition: 0.5s all;
}

header button:hover{
    background-color: #424b54cc;
}

header button a{
    color: #F4FFFD;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.timeline {
    background: var(--primary-color);
    background-color: #ffffff;
    padding: 20px;
    min-height: 100vh;
    position: relative;
    z-index: 1;
}



.timeline_text{
    font-family: 'Roboto Slab';
    margin: 0 0 30px 70px;
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 0.01em;
    color: #01353e;
}

.info_strong{
    font-family: 'Roboto Slab';
	margin-top: -80px;
	margin-left: 700px;
	font-size: 35px;
    letter-spacing: 0.01em;
    color: #01353e;
}



.outer {
    margin-left: 60px;
    border-left: 2px solid #333;
}
  
.outer::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    left: -39px;
    border: 3px solid orangered;
}

.card {
    position: relative;
    margin: 0 0 30px 20px;
    padding: 10px;
    background: #333;
    color: gray;
    border-radius: 8px;
    width: 450px;
    cursor: pointer;
    transition: 0.15s all;
}
 
.card:hover{
    width: 500px; 
    transform: translateX(0);
    font-size: 18px; 
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  

.title {
    color: orangered;
    position: relative;
}
  

.title::before {
    transform: scaleX(-1.05);
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    left: -39px;
    border: 3px solid orangered;

} 


.red_army{
    background-color: #333333;
    width: 750px;
    height: 250px;
    border-radius: 7px;
}

.red_army hr{
    width: 700px;
    color: #FFF;
    margin: 0 auto;
}

.vermaht hr{
    width: 700px;
    color: #FFF;
    margin: 0 auto;
}

/*.info_timeline{
    position: sticky;
    left: 1100px;
    margin-right: 500px;
}*/

.red_title{
    display: flex;
    flex-direction: row;
}

.img_red{
    width: 47px;
    height: 47px;
    margin: 12px 0 12px 45px;
}

.red_army_title{
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 35px;
    color: #ff1313;
    margin: 11px 0 0 32px;
}

.red_army_block{
    position: relative;
    top: -10px;
    left: 16px;
}

.content{
    margin-top: 15px;
    display: flex;
}

.content p{
    margin-top: 5px;
    margin-left: 15px;
    color: rgb(225, 223, 223);
}

.vermaht{
    margin-top: 35px;
    background-color: #333333;
    width: 750px;
    height: 250px;
    border-radius: 7px;
}

.tml{
    margin-top: 45px;
    display: flex;
    flex-direction: row;
}

.info_timeline{
    position: sticky;
    left: 2500px;
}

.info_timeline p{
    font-size: 30px;
}

.vermaht_title{
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 35px;
    color: #ffffff;
    margin: 11px 0 0 32px;
}

.main_event{
    width: 1475px;
    height: 2156px;
    background-color: #F1F1F1;
    min-height: 100vh;
    position: relative;
    z-index: 1;
}


.main_event h1{
    font-family: 'Roboto Slab';
    position: relative;
    top: 40px;
    font-weight: 400;
    font-size: 42px;
    text-align: center;
    color: #01353e;
}

.event{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 98px;
    margin-top: 80px;
}

.event img{
    width: 380px;
    height: 575px;
}

.event_text{
    margin-left: 42px;
}

.event_text .obr1{
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 35px;
    color: #000;
    margin-left: 110px;
}

.event_text .obr2{
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 35px;
    color: #000;
    margin-left: 15px;
}

.event_text h3{
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 28px;
    color: #000;
    margin-left: 10px;
    margin-top: 20px;
}

.event_text li{
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 23px;
    color: #000;
    margin-top: 20px;
    margin-left: 70px;
}

.separator{
    border: 1px solid #dda5a5;
    width: 1450px;
    height: 0px;
    margin: 0 auto;
    margin-top: 40px;
}

.event_2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: 98px;
    margin-top: 80px;
}

.event_2 img{
    width: 380px;
    height: 575px;
    margin-right: 45px;
}

.event_text_2{
    margin-left: 42px;
}

.event_text_2 li{
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 23px;
    color: #000;
    margin-top: 20px;
    margin-left: 30px;
}

.event_text_2 .obr1{
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 35px;
    color: #000;
    margin-left: 490px;
}

.event_text_2 .obr2{
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 35px;
    color: #000;
    margin-left: 400px;
}

.event_text_2 h3{
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 28px;
    color: #000;
    margin-left: 10px;
    margin-top: 20px;
}

.obr3{
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 35px;
    color: #000;
    margin-left: 30px;
}

footer{
    height: 480px;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;

    background: #121420;
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.links{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.links h2{
    color: #F1F1F1;
    font-size: 30px;
}

.links a{
    margin-top: 10px;
    text-decoration: none;
    color: #F1F1F1;
}

.links a::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #ffffff;
}

.links a::after{
    width: 0%;
    transition: 0.3s;
}

.links a:hover::after{
    width: 80%;
}