nav{
    height: 50px;
    background-color: #212121;
}

header{
    position: relative;
}

.container{
    width: 1140px;
}

.menu{
    display: flex;
    justify-content: space-between;
    padding: 10px 70px;
    margin: 0;
    list-style-type: none;
}

.menu_link{
    font-weight: 300;
    font-size: 15px;
    line-height: 100%;
    color: #fff;
    text-decoration: none;
}

.menu .menu_item{
    border-right: dotted 2px black;
    padding-right: 28px;
}

.bg{
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0,0,0, .6);
}

.u_log{
    margin-top: 16px;
    border: 1px solid #000;
    width: 285px;
    height: 32px;
    opacity: 0.7;
}

.official{
    font-family: var(--font-family);
    font-weight: 100;
    font-size: 13px;
    color: #fff;
}
.call{
    margin-top: 20px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    color: #fff;
}

.number{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.zz{
    margin-top: 22px;
    display: block;
    border-radius: 4px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.12);
    background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
    cursor: pointer;
}

.zz p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 329%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}


.title_logo{
    margin-top: 68px;
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.title_logo_2{
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin: 0;
}   

.some_text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    text-align: center;
    color: #fff;
}

.promo{
    min-height: 800px;
    background: url("../../img/up/uber_bg.png");
    padding:100px 0 135px 0;
}

.zz_2{
    display: block;
    margin: 115px auto 0 auto;
    border-radius: 4px;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.12);
    background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    line-height: 350%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.img_1 {
    margin: 20px 26px 0 0 ;
    background-color: #1eacc7;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text h5{
    font-weight: 400;
    font-size: 17px;
    color: #1eacc7;
}

.text p{
    font-weight: 300;
    font-size: 15px;
    color: #202020;
}

.fl{
    margin-left: 0px;
    margin-top: 41px;
    display: flex;
}

.text{
    width: 370px;
    height: 150px;
}



.pr{
    width: 113px;
    height: 24px;
    background-color: #000;
    margin: 0 auto;
    margin-top: 16px;
}

.pr p{
    margin-top: 4px;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.tl{
    font-weight: 700;
    font-size: 38px;
    line-height: 126%;
    text-transform: uppercase;
    text-align: center;
    color: #222;
    margin-top: 32px;
}

.subtitle{
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    color: #222;
}

.mobile{
    min-height: 864px;
    background: url("../../img/middle_card/mobile_bg.png");
    padding: 46px 0 80px 0;
}

.mobile_item{
    width: 320px;
    height: 280px;
    margin: 0 auto;
    padding: 82px 12px 135px 12px;
    margin-top: 19px;
}

.mobile_item_1{
    background: url("../../img/middle_card/one.png");
}

.mobile_item p{
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.img_bg{
    padding: 4px 0 5px 6px;
}

.mobile_item .plus{
    border-radius: 50%;
    background-color: #000;
    width: 27px;
    height: 27px;
    margin: 0 auto;
    margin-top: 65px;
}

.mobile .row{
    margin-top: 30px;
}