.timeline_text{
    margin: 0 0 30px 50px;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.01em;
    color: #01353e;
}

.info_strong{
	width: 100%;
	margin-top: -75px;
	margin-left: 600px;
	font-size: 40px;
    letter-spacing: 0.01em;
    color: #01353e;
}